{% extends 'layaout.html' %}

{%  block content  %}


<h1>Productos</h1>
{% for post in posts %}

<di class="p-3">
    <div class="card card-body bg-white">
        <div class="row">
            <div class="col-3">
                <img src="{{post.image.url}}" alt="{{post.title}}" class="img-fluid" />
            </div>

            <div class="col-4">
                <h2>{{post.title}}</h2>
                <p>{{post.description|striptags|truncatechars:100}}</p>
                <h8>{{post.date|date:'M d Y'}}</h8>
                <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-primary">{{post.title}} </a>

            </div>
        </div>
    </div>
</di>
        
{% endfor %}
{% endblock %}